body {
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 15px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    border-radius: 8px !important;
    font-size: 16px;
    font-weight: 500;
}

.message {
    color: red;
    margin-bottom: 1rem;
}

.deleteLabel{
    background-color: red;
    padding: 2px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
